<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Job Search Aggrigator</title>
    {% include 'bootstrap.html' %}
  </head>
  <body>
    {% include 'nav.html' %}
    <h2>Welcome to the Job Search Aggrigator</h2>
    <h5>
      I created this website as a way to aggregate job postings from my 2 most
      utilized job hunting websites, LinkedIn and Indeed. This website utilizes
      the
      <a href="https://rapidapi.com/jaypat87/api/linkedin-jobs-search">
        LinkedIn</a
      >
      and <a href="https://rapidapi.com/jaypat87/api/indeed11">Indeed</a> API's
      made available through
      <a href="https://rapidapi.com/hub">RapidAPI.com</a> to gather job postings
      based on the (limited) search parameters made available through the API's.
      This experience was my first time utilizing API's through a django-based
      web project.
    </h5>
  </body>
</html>
