<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Job Search Aggrigator</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/search/">Search for jobs</a>
      </li>
    </ul>
    <span class="navbar-text"
      ><a
        class="nav-link"
        target="_blank"
        rel="noreferrer noopener"
        href="https://github.com/jakewest35/Job_search_app/tree/main"
      >
        View this project on Github
      </a></span
    >
  </div>
</nav>
